.files-list {
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.files-list .row {
  text-align: right;
}

.files-list .form-group {
  margin-bottom: 0;
  word-break: break-all;
}

.files-list-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: whitesmoke;
  z-index: 1;
  padding: 5px 0;
}

.file-list-header-icon {
  margin-top:5px;
}

.files-list-filename {
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  font-size: 10pt;
}

.files-list-boot {
  font-weight: bold;
  color: #ae1e48;
}